* {
    margin: 0;
    padding: 0;
    outline: none;
}
html {height: 100%}
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Arial, SansSerif;
    font-size: 1em;
    line-height: 135%;
    float: left;
}
img {
    max-width: 100%;
    height: auto;

}
a{
    color: #908f83;
    text-decoration: none;
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
}
a:hover {
    color: #2e1717;
}
a, a:hover {
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
}
.clear {
    clear: both;
}

/* Header Style */

header {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-bottom: 2px solid silver;
    margin-bottom: 20px;
}
#logo {
    width: 30%;
    float: left;
    color: #939393;
    font-size: 2em;
    font-family: "Times New Roman";
}
#logo span {
    color: #FF7A6A;
}
#head-menu {
    width: 34%;
    float: left;
}
#head-menu div {
    float: left;
    margin-right: 5%;
    padding: 5px;
    background-color: #BEC2D3;
    color: #ffffff;
    border-radius: 10px;
}
#head-menu div:hover {
    background-color: #f6ffed;
    color: #000;
}
#registration {
    width: 30%;
    float: left;
    text-align: right;
    font-size: 1.2em;
}

/* Wrapper Style */

#wrapper {
    width: 90%;
    margin-left: 10%;
    float: left;
}
/* Left-bar style */
#wrapper #left-bar {
    width: 60%;
    float: left;
    margin-right: 10%;
}
#left-bar #big_article {
    width: 78%;
    margin-left: 10px;
    padding: 1%;
    background-color: #f6f6f6;
    float: left;
}
#big_article h2, .article h2 {
    font-weight: normal;
    font-size: 1.2em;
    color: #ff5642;
    font-family: "Comic Sans MS";
}
#big_article p, .article p {
    width: 90%;
    margin-left: 5%;
}
#big_article div {
    padding: 5px;
    border-radius: 5px;
    background-color: #908f83;
    color: #fafafa;
    width: 15%;
    text-align: center;
    margin-top: 5%;
}
#big_article div:hover{
    background-color: #2e1717;
}

#big_article img, .article img{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.article {
    width: 40%;
    margin-left: 5%;
    padding: 1%;
    background-color: #f6f6f6;
    float: left;
}
.article div {
    padding: 5px;
    border-radius: 5px;
    background-color: #908f83;
    color: #fafafa;
    width: 25%;
    text-align: center;
    margin-top: 5%;
}
.article div:hover {
    background-color: #2e1717;
}

/* Right-bar style */
#wrapper #right-bar {
    width: 20%;
    float: left;
    margin-right: 10%;
}
#wrapper .banner {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border: 2px solid silver;
    box-sizing: border-box;
}

/* ======= Footer Style ======== */

footer {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-top: 2px solid silver;
    margin-top: 10px;
}
#social {
    float: left;
    width: 50%;
}
#social img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}
#copyright {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 1.1em;
}


